<mat-card *ngIf="isHidden">

  <!-- Points -->
  <span class="large-points"
    title="{{ item.comments_count | i18nPlural: commentsMapping }}">{{ item.comments_count }}</span>
  <span class="large-points" title="{{ item.points | i18nPlural: pointsMapping }}">{{ item.points }}</span>
  <span class="triangle-up" (click)="upVote()"></span>

  <div class="content">

    <!-- Title with domain -->
    <mat-card-title *ngIf="item.domain">
      <a [href]="item.url" target="_blank" rel="noopener">{{ item.title }}</a> ({{ item.domain }})
    </mat-card-title>

    <!-- Title without domain -->
    <mat-card-title *ngIf="!item.domain">
      <a [routerLink]="['/item', item.id]">
        {{ item.title }}
      </a>
    </mat-card-title>

    <!-- Subtitle with meta data -->
    <mat-card-subtitle *ngIf="item.type !== 'job'">

      <!-- User -->
      <span *ngIf="item.user">
        By <a [routerLink]="['/user', item.user]" title="Posted by {{ item.user }}">{{ item.user }}</a>
      </span> |

      <!-- Points -->
      <span class="points">
        {{ item.points | i18nPlural: pointsMapping }} |
      </span>

      <!-- Time -->
      <span title="Posted on {{ item.time | date: dateFormat }}">
        {{ item.time_ago }} |
      </span>
      <a (click)="hideDiv()">
        <span>
        <b>Hide</b> |
        </span>
      </a>

    </mat-card-subtitle>

  </div>

</mat-card>