.container {
  margin-top: 64px;

  > * + * {
    display: block;
    margin-top: 1vh;
  }
}

@media(max-width: 599px) {

  .container {
    margin-top: 56px;
  }
}
.nav {
  background-color: #ff6d00; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

.nav li {
  display: inline-block;
  font-size: 14px;
  padding-left: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}
